/* ThemeCompiereMenu Style Sheet */

.ThemeCompiereMenu,.ThemeCompiereSubMenuTable
{
    font-family: verdana, arial, sans-serif;
    font-size: 13px;

    padding: 0;

    white-space: nowrap;
    cursor:  default;
}

.ThemeCompiereSubMenu
{
    position: absolute;
    visibility: hidden;

    /*
       Netscape/Mozilla renders borders by increasing
       their z-index.  The following line is necessary
       to cover any borders underneath
    */
    z-index: 100;
    border:  0;
    padding: 0;

    overflow: visible;
    border:  1px solid #8C867B;

    filter:progid:DXImageTransform.Microsoft.Shadow(color=#BDC3BD, Direction=135, Strength=4);
}

.ThemeCompiereSubMenuTable
{
    overflow: visible;
}

.ThemeCompiereMainItem,.ThemeCompiereMainItemHover,.ThemeCompiereMainItemActive,
.ThemeCompiereMenuItem,.ThemeCompiereMenuItemHover,.ThemeCompiereMenuItemActive
{
    border:  0;
    cursor:  default;
    white-space: nowrap;
}

.ThemeCompiereMainItem
{
        
    /*background-color: BLUE;*/
}

.ThemeCompiereMainItemHover,.ThemeCompiereMainItemActive
{
    background-color: #C6D3EF;
}

.ThemeCompiereMenuItem
{
    background-color: WHITE;
}

.ThemeCompiereMenuItemHover,.ThemeCompiereMenuItemActive
{
    background-color: #C6D3EF;
}


/* horizontal main menu */

.ThemeCompiereMainItem
{
    padding: 1px;
    border:  0;
}

td.ThemeCompiereMainItemHover,td.ThemeCompiereMainItemActive
{
    padding: 0px;
    border:  1px solid #3169C6;
}

.ThemeCompiereMainFolderLeft,.ThemeCompiereMainItemLeft,
.ThemeCompiereMainFolderText,.ThemeCompiereMainItemText,
.ThemeCompiereMainFolderRight,.ThemeCompiereMainItemRight
{
    background-color: inherit;
}

/* vertical main menu sub components */

td.ThemeCompiereMainFolderLeft,td.ThemeCompiereMainItemLeft
{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 2px;

    border-top: 1px solid #3169C6;
    border-bottom: 1px solid #3169C6;
    border-left: 1px solid #3169C6;

    background-color: inherit;
}

td.ThemeCompiereMainFolderText,td.ThemeCompiereMainItemText
{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;

    border-top: 1px solid #3169C6;
    border-bottom: 1px solid #3169C6;

    background-color: inherit;
    white-space: nowrap;
}

td.ThemeCompiereMainFolderRight,td.ThemeCompiereMainItemRight
{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;

    border-top: 1px solid #3169C6;
    border-bottom: 1px solid #3169C6;
    border-right: 1px solid #3169C6;

    background-color: inherit;
}

tr.ThemeCompiereMainItem td.ThemeCompiereMainFolderLeft,
tr.ThemeCompiereMainItem td.ThemeCompiereMainItemLeft
{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 1px;
    padding-right: 2px;

    white-space: nowrap;

    border:  0;
    background-color: inherit;
}

tr.ThemeCompiereMainItem td.ThemeCompiereMainFolderText,
tr.ThemeCompiereMainItem td.ThemeCompiereMainItemText
{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;

    border:  0;
    background-color: inherit;
}

tr.ThemeCompiereMainItem td.ThemeCompiereMainItemRight,
tr.ThemeCompiereMainItem td.ThemeCompiereMainFolderRight
{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 0px;
    padding-right: 1px;

    border:  0;
    background-color: inherit;
}

/* sub menu sub components */

.ThemeCompiereMenuFolderLeft,.ThemeCompiereMenuItemLeft
{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 1px;
    padding-right: 3px;

    border-top: 1px solid #3169C6;
    border-bottom: 1px solid #3169C6;
    border-left: 1px solid #3169C6;

    background-color: inherit;
    white-space: nowrap;
}

.ThemeCompiereMenuFolderText,.ThemeCompiereMenuItemText
{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;

    border-top: 1px solid #3169C6;
    border-bottom: 1px solid #3169C6;

    background-color: inherit;
    white-space: nowrap;
}

.ThemeCompiereMenuFolderRight,.ThemeCompiereMenuItemRight
{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;

    border-top: 1px solid #3169C6;
    border-bottom: 1px solid #3169C6;
    border-right: 1px solid #3169C6;

    background-color: inherit;
    white-space: nowrap;
}

.ThemeCompiereMenuItem .ThemeCompiereMenuFolderLeft,
.ThemeCompiereMenuItem .ThemeCompiereMenuItemLeft
{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2px;
    padding-right: 3px;

    white-space: nowrap;

    border:  0;
    /* FIXME: pick a neutral color here or sync with the background */
    background-color: #cfcfcf;
}

.ThemeCompiereMenuItem .ThemeCompiereMenuFolderText,
.ThemeCompiereMenuItem .ThemeCompiereMenuItemText
{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;

    border:  0;
    background-color: inherit;
}

.ThemeCompiereMenuItem .ThemeCompiereMenuFolderRight,
.ThemeCompiereMenuItem .ThemeCompiereMenuItemRight
{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 0px;
    padding-right: 1px;

    border:  0;
    background-color: inherit;
}

/* menu splits */

.ThemeCompiereMenuSplit
{
    margin:  2px;
    height:  1px;
    overflow: hidden;
    background-color: inherit;
    border-top: 1px solid #C6C3BD;
}

/* image shadow animation */

/*
    seq1: image for normal
    seq2: image for hover and active

    To use, in the icon field, input the following:
    <img class="seq1" src="normal.gif" /><img class="seq2" src="hover.gif" />
*/

.ThemeCompiereMenuItem img.seq1
{
    display: inline;
}

.ThemeCompiereMenuItemHover seq2,
.ThemeCompiereMenuItemActive seq2
{
    display: inline;
}

.ThemeCompiereMenuItem .seq2,
.ThemeCompiereMenuItemHover .seq1,
.ThemeCompiereMenuItemActive .seq1
{
    display: none;
}
